mixin sProdCard(data)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		+b.fixed-card-info--js
			.container
				+e.row.row
					.col.d-none.d-md-block
						+e.content
							+e.img-wrap
								.img-wrap-center
									+img('img/sProdCard-img-sm-1.png')
							div
								.h6 Парковые качели «Пагода_2»
								.row
									.col-auto 4.5
									.col-auto: +stars
									.col-auto: a(href="#") Оставить отзыв 
					.col-auto.d-none.d-md-block
						+addblock()
					.col-md-auto
						+e.btn.btn.btn-primary(href='#')
							| В корзину
							span 12 890 ₽
					.col-auto.d-none.d-md-block
						+e.favorite(href='#'): +icon('heart')
		.container
			+e.row.row
				+e.col.col-md-auto
					+e.full-slider-wrap
						+e.swiper-wrap.order-md-2(data-aos="fade-up" data-aos-duration="400")
							if data.discount
								.badge.badge-orange Скидка -50%
							+e.slider--js.swiper(data-fancybox='modal-with-slider' data-src="#modal-slider").btn-modal-js
								.swiper-wrapper
									-for(let i = 0; i < 9; i++)
										+e.slide.swiper-slide
											+e.img-wrap
												.img-wrap-center
													+img(`img/${data.img.link}`, data.img.bg)
							+e.main-slider-arrow-wrap.d-none.d-md-block
								+arrow()
						+e.thumb-arrow-wrap.order-md-1
							+e.thumb-slider--thumb-js.swiper
								.swiper-wrapper
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-1.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-2.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-1.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-1.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-3.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-3.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-1.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-3.png')
									+e.slide-thumb.swiper-slide
										+e.img-wrap
											.img-wrap-center
												+img('img/sProdCard-img-sm-3.png')
							.d-none.d-md-block
								+arrow()
				.col-md
					+e.main-row.row
						.col-12
							+e.main-info
								+e.head-row(data-aos="fade-up" data-aos-duration="400")
									.row
										.col
											+e.rate-wrap
												span 4.5
												+stars
												+e.create-review(href='#') Оставить отзыв
										.col-auto
											+e.favorite(href='#' class=(data.favActive ? 'active' : ''))
												span В избранное
												+icon('heart')
								h4(data-aos="fade-up" data-aos-duration="400") 12 890 ₽
								+e.btn-row.row(data-aos="fade-up" data-aos-duration="400")
									.col-12
										if data.addToCard
											+e.btn.btn.btn-primary(href='#') В корзину
										else if data.leaveRequest
											+e.btn.btn.btn-primary(href='#' data-src='#modal-call-2' data-fancybox).btn-modal-js Оставить заявку на товар
										else
											+e.btn.btn.btn-primary.disabled(href='#') В корзине
									if data.getConsultation
										.col-12
											+e.btn.btn.btn-outline-dark(href='#' data-src='#modal-call' data-fancybox).btn-modal-js Получить консультацию
								table(data-aos="fade-up" data-aos-duration="400")
									mixin tr(key, value)
										tr
											td!=key
											td.text-end!=value
									+tr('Размер (Ш×В×Г) см', '33×79×92')
									+tr('Материал', 'Дерево')
									+tr('Цвет', 'Коричневый')
								+e.all(href='#' data-aos="fade-up" data-aos-duration="400") Все характеристики
						.col-12
							+e.delivery
								+e.city(data-aos="fade-up" data-aos-duration="400")
									+icon('map-pin')
									| Москва
								table(data-aos="fade-up" data-aos-duration="400")
									mixin tr(key, value)
										tr
											td!=key
											td.text-end!=value
									+tr('Доставка', 'В пределеах МКАД от 150₽')
									+tr('Самовывоз', 'Со склада в Москве')
						.col-12
							+e.see-all(href='#')
								+e.see-all-img-wrap(data-aos="fade-up" data-aos-duration="400")
									+img("img/see-all-img-1.jpg")
									+img("img/see-all-img-2.jpg")
									+img("img/see-all-img-3.jpg")
								p(data-aos="fade-up" data-aos-duration="400") Посмотреть все 100550 товаров категории «Парковые качели»
								+icon('chevron-right2')(data-aos="fade-up" data-aos-duration="400")
	// end sProdCard