mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.wrap.bg-wrap
				+img('img/headerBlock-bg-1.jpg', 'bg').picture-bg
				+e.content
					h1.h3 Всё для загородной жизни
					p для отдыха, работы и обустройства участка
			+e.swiper-wrap.default-swiper-js
				+e.swiper.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							picture
								source(media="(min-width: 768px)", srcset="img/headerBlock-img-1.png")
								img(src='img/headerBlock-img-1-sm.png').img
							+e.text
								.h6 Огромный ассортимент
								p Собственное производство деревянных построек, конструкций и&nbsp;других товаров для дачи. Более 10&nbsp;000 товаров
						+e.slide.swiper-slide
							picture
								source(media="(min-width: 768px)", srcset="img/headerBlock-img-1.png")
								img(src='img/headerBlock-img-1-sm.png').img
							+e.text
								.h6 Огромный ассортимент
								p Собственное производство деревянных построек, конструкций и&nbsp;других товаров для дачи. Более 10&nbsp;000 товаров
						+e.slide.swiper-slide
							picture
								source(media="(min-width: 768px)", srcset="img/headerBlock-img-1.png")
								img(src='img/headerBlock-img-1-sm.png').img
							+e.text
								.h6 Огромный ассортимент
								p Собственное производство деревянных построек, конструкций и&nbsp;других товаров для дачи. Более 10&nbsp;000 товаров
				.swiper-pagination
	// end headerBlock

mixin headerBlock2(img, title, text, btn, picture)
	// start headerBlock
	+b.headerBlock--2.section#headerBlock&attributes(attributes)
		.container
			+e.wrap.bg-wrap
				if picture
					picture
						source(media="(min-width: 768px)", srcset=`img/${img}`)
						img(src=`img/${picture}`, alt="").picture-bg
				else
					+img(`img/${img}`, 'bg').picture-bg
				+e.content
					h1.h3!= title
					if text
						p!= text
					if btn
						+e.btn-wrap
							+e.btn.btn.btn-light(href='#') Отправить резюме
							+e.btn.btn.btn-primary(href='#') Смотреть вакансии