mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row
				.col-md-auto.d-none.d-lg-block
					+e.logo(href='#'): +iconC('logo2')
				.col-auto.d-none.d-lg-block
					+b.catalog-toggle.catalog-toggle-js
						//- +icon("menu-toggle")
						+e.toggle-icon
							span
						+e.title Каталог

				.col-lg
					+b.searchBlock-wrap--js
						+searchBlock()
				.col-lg-auto.d-none.d-md-block
					+topBtns()
	+b.catalog-menu--js
		+e.container.container 
			+e.col
				+e.all-products(href='#')
					+icon('rus')
					| Все товары
					+e.icon-wrap: +icon('chevron-right2')
				+e.first-level-catalog
					ul
						each item in catalog
							li.mobile-menu--js(class=(item.class ? 'hover' : ''))
								+e.link(href=item.mainLink.href)
									+img(`img/svg/${item.mainLink.icon}.svg`)
									.text!= item.mainLink.text
									+e.icon-wrap: +icon('chevron-right2')
								+e.content
									if item.title
										.h5!= item.title
									+e.all-products.d-md-none(href='#')
										+icon('rus')
										| Все товары
										+e.icon-wrap: +icon('chevron-right2')
									ul
										each innerItem in item.innerLevel
											li.menu-item-has-children
												a(href=innerItem.headlink.href)
													!= innerItem.headlink.text
													if innerItem.links
														+e.icon-wrap--js: +icon('chevron-right2')
												if innerItem.links
													.sub-menu 
														.h5.d-md-none Качели
														+e.all-products.d-md-none(href='#')
															+icon('rus')
															| Все товары
															+e.icon-wrap: +icon('chevron-right2')
														ul
															each link in innerItem.links
																li: a(href=link.href)!= link.text
	+b.profile-menu
		.h5 Профиль
		ul
			li: a(href="#") История заказов 
			li: a(href="#") Настройки
			li: a(href="#") Помощь
			li: a(href="#") Задать вопрос
			li: a(href="#") Выйти
	// end top-nav