include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" placeholder='1' value="1")
		+e.btn--plus(type="button")



mixin page-head(t, span, customClass='h5', ...items)
	+b.page-head
		- let l = items.length
		if l > 0
			+e.breadcrumb
				.container
					+breadcrumb('Главная',...items)
		.container

			h1(class=customClass)
				!= t
				if span 
					span!= span

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin searchBlock()
	+b.search-block 
		// вешать класс .show-result
		form
			input(type="text" placeholder="Поиск")
			button.btn.btn-primary
				+icon("search")

mixin mainPageNav()
	+b.main-page-nav
		.container
			.row
				.col-auto: a(href="#") Как оформить заказ 
				.col-auto: a(href="#") Оплата заказа
				.col-auto: a(href="#") Получение заказа
				.col-auto: a(href="#") География продаж
				.col-auto
					a(href="#")
						span %
						| Акции и Скидки
				.col-auto: a(href="#") Остались вопросы?

mixin stars(rate=4)
	+b.stars(data-rating=rate)
		+icon('rateStar')
		+icon('rateStar')
		+icon('rateStar')
		+icon('rateStar')
		+icon('rateStar')

mixin card(img, price, text, bg='bg', review=false, badge=false)
	+b.card
		if badge
			.badge.badge-orange Скидка -50%
		+e.img-wrap(href='#')
			.img-wrap-center
				+img(`img/${img}`, bg)
		+e.content
			+e.price!= price
			+e.text(href='#')!=text 
			+e.create Производство Италия
			+e.review-wrap
				+stars
				if review
					span 3 отзыва
				else
					span 07.11.2021
			+e.rate
			+e.footer-row.row 
				.col
					+e.btn.btn.btn-sm.btn-primary(href="#") 
						+icon('shopping-cart', 'd-md-none')
						span.d-none.d-md-block В корзину
				.col-auto
					+addblock

mixin defSlider(arrow)
	+b.default-swiper.default-swiper-js&attributes(attributes)
		.swiper
			.swiper-wrapper
				block
		if arrow
			.d-none.d-md-block
				+arrow

mixin textBlock()
	+b.text-block
		.container
			+e.wrap
				p С&nbsp;другой стороны, повышение уровня гражданского сознания предоставляет широкие возможности для как самодостаточных, так и&nbsp;внешне зависимых концептуальных решений. Разнообразный и&nbsp;богатый опыт говорит нам, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать собственные решения касаемо экономической целесообразности принимаемых решений. С&nbsp;другой стороны, повышение уровня гражданского сознания предоставляет широкие возможности для как самодостаточных, так и&nbsp;внешне зависимых концептуальных решений. Разнообразный и&nbsp;богатый опыт говорит нам, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно определяет каждого участника как способного принимать собственные решения касаемо экономической целесообразности принимаемых решений.
			+e.show-more
				span.show Показать все
				span.hide Скрыть
				+icon('chevron-down')

mixin topBtns()
	+b.top-btns&attributes(attributes)
		+e.wrap
			+e.btn(href='#').d-md-none.catalog-toggle-js.order-1
				.catalog-toggle__toggle-icon.toggle-menu-mobile: span
				span Каталог
			+e.btn--profile-js(href='#').order-4.order-md-1
				+iconC('profile')
				+icon('close')
				span.d-md-none Профиль
				span.d-none.d-md-inline Войти
			+e.btn(href='#').d-none.d-md-flex.order-md-2
				+e.icon
					+icon('heart')
					.badge.badge-orange 3
			+e.btn(href='#').order-3
				+e.icon
					+iconC('shopping-cart')
					.badge.badge-orange 2
				span.d-md-none Корзина
			+e.btn(href='#').order-2.d-md-none
				+icon('search')
				span.d-md-none Поиск
			+e.btn(href='#').order-5.d-md-none
				+icon('menu')
				span.d-md-none Меню

mixin filter()
	+b.filter
		+e.close: +icon('close')
		+e.row
			.h4 Фильтр
			+e.item
				+e.headline Лучшие предложения
				+e.link(href='#') Новинки
				+e.link(href='#') Хиты
				+e.link(href='#') Скидки
				+e.link(href='#') Акции
			+e.item
				.h5 Категории
				+e.categories-link.active(href='#') Летние кухни, гриль зоны, барбекю комплексы
				+e.categories-link(href='#') Летние кухни
				+e.categories-link(href='#') Гриль зоны
				+e.categories-link(href='#') Барбекю комплексы
				+e.categories-link(href='#') Садовые кухни
			+e.item
				div(class="form-check form-switch")
					label(class="form-check-label" for="inStock") Только в наличии
					input(class="form-check-input" type="checkbox" role="switch" id="inStock")
		+e.btn.btn.btn-sm.btn-light(href='#') Сбросить
		+e.btn-accept
			a.btn.btn-sm.btn-primary(href='#') Показать