mixin sProdCardInfo(secondVariant, table)
	// start sProdCardInfo
	+b.sProdCardInfo.section#sProdCardInfo&attributes(attributes)
		.container
			+e.wrap
				.tabs(data-aos="fade-up" data-aos-duration="400")
					.tabs__caption.swiper.freemode-slider--js
						.swiper-wrapper
							.tabs__btn.swiper-slide.active Описание
							.tabs__btn.swiper-slide Комплектация
							.tabs__btn.swiper-slide
								| Отзывы
								span 5
							.tabs__btn.swiper-slide
								| Вопрос-ответ
								span 6
							.tabs__btn.swiper-slide Доставка
							.tabs__btn.swiper-slide Дополнительные опции
							.tabs__btn.swiper-slide Дополнительные товары
							.tabs__btn.swiper-slide Получение товара
					.tabs__content.active
						+sContent().pb-0
							.h2 Конструкция изготовлена
							+e.img-wrap: +img('img/prod-card-bg.jpg')
							.h3 Требования к участку
							p Площадка должна быть максимально ровная, избавлена от&nbsp;растительности (деревья, кусты, высокая трава), должна располагаться поблизости от&nbsp;инженерных коммуникаций. В&nbsp;случае перепада участка&nbsp;&mdash; просьба сообщить об&nbsp;этом.
							.h4 Обшивка цоколя
							p Оплатить заказанные на&nbsp;сайте товары вы&nbsp;можете на&nbsp;этапе оформления заказа банковской картой.<br>Мы&nbsp;принимаем карты &laquo;Мир&raquo;, Visa, Mastercard. Оплата через Google Pay&nbsp;/ Apple Pay недоступна.
							+b.numbered-list.OL
								+e.item.LI(data-aos="fade-up" data-aos-duration="400")
									+e.title Выберите оплату картой на сайте.
								+e.item.LI(data-aos="fade-up" data-aos-duration="400")
									+e.title После выбора оплаты картой нажмите кнопку «Перейти к оплате».
								+e.item.LI(data-aos="fade-up" data-aos-duration="400")
									+e.title Оплатите заказ на странице банка.
									p Выбрав оплату картой, вы&nbsp;будете автоматически перенаправлены на&nbsp;страницу оплаты банка. Заполните все необходимые поля и&nbsp;нажмите кнопку &laquo;Оплатить&raquo;
									p Далее вы&nbsp;будете перенаправлены на&nbsp;страницу вашего банка для ввода кода из&nbsp;СМС.
									p СМС придёт на&nbsp;мобильный телефон, привязанный к&nbsp;карте.
								+e.item.LI(data-aos="fade-up" data-aos-duration="400")
									+e.title Номер заказа будет направлен на&nbsp;Ваш email и&nbsp;по&nbsp;SMS.
								+e.item.LI(data-aos="fade-up" data-aos-duration="400")
									+e.title Вы&nbsp;получите электронный чек, подтверждающий оплату заказа.
									p После оплаты вы&nbsp;получите подтверждающий платёжный документ&nbsp;&mdash; по&nbsp;электронной почте или СМС.
							+e.table-wrap--js.swiper(data-aos="fade-up" data-aos-duration="400")
								.swiper-wrapper 
									//- .swiper-slide
									table.table-hover.swiper-slide
										thead
											tr
												th Maecenas
												th Phasellus
												th Gravida
												th Integer
										tbody
											tr
												td Nullam
												td Tincidunt
												td At elementum
												td Dapibus
											tr
												td Luctus
												td Mauris
												td Felis
												td Aenean
											tr
												td Dignissim
												td Vestibulum
												td Fusce
												td Donec
								.swiper-scrollbar
							.h5 Потолок и свесы
							p Залейте получившимся яблочным маринадом кусочки говядины с&nbsp;большой миске и&nbsp;осторожно перемешайте. Накройте пищевой пленкой и&nbsp;уберите в&nbsp;холодильник на&nbsp;1&nbsp;час.
							+e.recept-steps.OL(data-aos="fade-up" data-aos-duration="400")
								li Готовность шашлыка из&nbsp;говядины определяйте с&nbsp;помощью прокола острым ножом. Если выделяется красный сок, подержите мясо на&nbsp;мангале еще несколько минут. Если прозрачный&nbsp;&mdash; блюдо готово.
							+e.swiper-wrap.default-swiper-js(data-aos="fade-up" data-aos-duration="400")
								+e.swiper--js.swiper
									.swiper-wrapper
										+e.slide.swiper-slide
											+e.img-wrap
												+img(`img/step-2.jpg`)
										+e.slide.swiper-slide
											+e.img-wrap
												+img(`img/step-3.jpg`)
										+e.slide.swiper-slide
											+e.img-wrap
												+img(`img/step-4.jpg`)
								.d-none.d-md-block
									+arrow
								.d-md-none
									.swiper-pagination
							+e.video-subtitle.H6(data-aos="fade-up" data-aos-duration="400") Стойки каркаса несущие
							+e.video-wrap(data-aos="fade-up" data-aos-duration="400")
								<iframe class="sContent__video" width="560" height="315" src="https://www.youtube.com/embed/Jz3_xAVxy5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						//- +e.content
						//- 	.h5 Описание
						//- 	p Практичное, стильное, удобное кресло Престиж — идеальный выбор для сада, загородного дома, коттеджа, дачи. Оно выполнено из качественного полипропилена высокой прочности, способного выдерживать высокие нагрузки. Материал не требует особого ухода, чистится обычными моющими средствами, удобно в хранении и транспортировке. Кресло не боится повышенной влажности, резких перепадов температур, его можно ставить около бассейна, в бане, сауне, на улице. Дополнительное удобство обеспечивают удобные подлокотники.
						//- +e.content
						//- 	.h5 Характеристики
						//- 	+e.table-row.row
						//- 		mixin tr(key, value)
						//- 			+e.tr-row.row
						//- 				.col-md!= key
						//- 				.col-md-auto.ms-md-auto.text-md-end!= value
						//- 		.col-md
						//- 			+tr('Производитель', 'Италия')
						//- 			+tr('Гарантия', '18 мес.')
						//- 			+tr('Срок службы', '2 года')
						//- 			+tr('Материал', 'Полипропилен')
						//- 			+tr('Цвет', 'Коричневый')
						//- 			+tr('Размер (Ш×В×Г)', '33×79×92')
						//- 		.col-md
						//- 			+tr('Высота сиденья от пола', '40 см')
						//- 			+tr('Maксимальная нагрузка на 1 посадочное место', '117 кг')
						//- 			+tr('Мягкие элементы в комплекте', 'Нет')
						//- 			+tr('Регулируемый наклон спинки', 'Нет')
						//- 			+tr('Температурный режим', 'От -20 до +45 градусов')
						//- 			+tr('Материал каркаса', 'Дерево')
						//- +e.content
						//- 	.h5 Преимущества
						//- 	+e.advantage-row.row
						//- 		mixin advantageCol(text)
						//- 			+e.advantage-col.col-6.col-md-12
						//- 				+e.item!= text
						//- 		+advantageCol('Усиленные закаленные фрезы')
						//- 		+advantageCol('Колеса с глубоким протектором')
						//- 		+advantageCol('Шестеренчатый редуктор')
						//- 		+advantageCol('Укрепленная рама')
						//- 		+advantageCol('Шестеренчатый редуктор')
						//- 		+advantageCol('Усиленные закаленные фрезы')
						//- 		+advantageCol('Колеса с глубоким протектором')
						//- 		+advantageCol('Усиленные закаленные фрезы')
						//- 		+advantageCol('Колеса с глубоким протектором')
					.tabs__content
						if table
							+b.equipment-slider
								+e.head-slider-wrap
									+e.head-slider.swiper
										.swiper-wrapper
											+e.slide.swiper-slide
												+e.item--price
													.title Конструктивный элемент навеса
													+e.price 12 890 ₽
											+e.slide.swiper-slide
												+e.item--price(data-type='Несущий каркас')
													.title Комплектация #[span «Несущий каркас»]
													+e.price 12 890 ₽
											+e.slide.swiper-slide
												+e.item--price.current.current2(data-type='Базовый')
													.title Комплектация #[span «Базовая»]
													+e.price 12 890 ₽
											+e.slide.swiper-slide
												+e.item--price(data-type='Премиум')
													.title Комплектация #[span «Премиум»]
													+e.price 12 890 ₽
								+e.swiper--js.swiper
									.swiper-wrapper
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Стойки навеса
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item(data-type='Несущий каркас') Брус сечением 140&times;140&nbsp;мм, из&nbsp;цельного массива дерева (не клееные*) *Допускается возникновение трещин, не&nbsp;влияющих на&nbsp;надежность и&nbsp;функционал конструкции.Во избежание трещин, возможна замена на&nbsp;Клееный брус.
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Клееный брус 140×140 мм.
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Клееный брус 140×140 мм.
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Верхняя обвязка
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item(data-type='Несущий каркас') Клееный брус 290×140 мм.
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Клееный брус 290×140 мм.
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Клееный брус 290×140 мм.
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										//- 
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
										+e.slide.swiper-slide
											+e.item--cross(data-type='Несущий каркас'): +icon('close')
										+e.slide.swiper-slide
											+e.item.current.current2(data-type='Базовый') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item(data-type='Премиум') Имитация бруса 135&times;21мм. (профилированная сухая строганная доска, с&nbsp;замковым соединением типа шип-паз. Такое крепление помогает избежать образования зазоров).
										+e.slide.swiper-slide
											+e.item--img
												.subtitle Обрешетка кровли
												+e.img-wrap: .img-wrap-center: +img('img/equipment-img-1.png')
						else
							+e.UL.equipment(class=(secondVariant ? "sProdCardInfo__equipment--second" : ""))
								li
									.h6 Материал
									ul
										li Конструкция изготовлена из хвойных пород древесины (ель, сосна).
										li Сорт по лицевой стороне: АВ.
										li Материал — массив сухой строганный камерной сушки.
								li
									.h6 Крепеж
									p Стоимость доставки рассчитывается при оформлении заказа на сайте или сотрудником компании «Русская Деревня». Стоимость зависит от зоны доставки, дополнительных услуг, веса и объема товаров в заказе.
									ul
										li В крепеже не используем черных саморезов, только желтопассированные.
										li Крепеж не является сборно – разборным.
								li
									.h6 Генератор
									ul
										li На&nbsp;участке необходимо электричество, для производства работ по&nbsp;строительству. В&nbsp;случае его отсутствия необходимо об&nbsp;этом сообщить на&nbsp;стадии оформления заказа. В&nbsp;этом случае привозится генератор.
								li
									.h6 Фундамент
									ul
										li Блочный из бетонных блоков (возможно необходима подготовка из щебня и песка).
										li Размер блоков: 200×200×400 или 100×200×400.
										li Если почва – суглинистая, глинистая, торфяная или болотистая — установка на блоки не желательна.
										li В&nbsp;этом случае предпочтительнее использовать винтовые сваи,<br>песчано&mdash;щебеночную подушку, готовую площадку&nbsp;&mdash; тротуарная плитка или брусчатка на&nbsp;монолитной плите, ленточный фундамент.
					.tabs__content
						+b.review-block
							+b.create-content
								.h6 Ваш отзыв будет первым!
								p Поделитесь опытом, помогите другим покупателям с выбором.
								+e.btn.btn.btn-primary(href='#' data-fancybox='send-review' data-src='#modal-feedback') Оставить отзыв
							+e.head
								+e.head-row.row
									.col-md-6
										+e.wrap
											.row.align-items-center
												.col
													p
														span 4.5
														| Средний рейтинг
												.col-auto
													+stars
											+e.btn.btn.btn-primary(href='#' data-fancybox='send-review-2' data-src='#modal-feedback' data-bs-custom-class="tooltip-custom" data-bs-placement="bottom" data-bs-html="true" data-bs-toggle="tooltip" data-bs-original-title=`Если вы приобретали этот товар, то <span>авторизуйтесь</span>, чтобы оставить отзыв. `) Оставить отзыв
											+e.btn.btn.btn-light(data-bs-custom-class="tooltip-custom" data-bs-placement="bottom" data-bs-html="true" data-bs-toggle="tooltip" data-bs-original-title=`Вы уже оставили отзыв.`) Оставить отзыв
									.col-md-6
										mixin rateItem(stars, count)
											+e.rate-item
												+e.stars-wrap 
													- for(let i = 0; i < stars; i++)
														+icon('rateStar')
												+e.line(style=`--count: ${count};`)
												+e.count!= count
												//-  +icon('')
										+rateItem(5, 70)
										+rateItem(4, 15)
										+rateItem(3, 15)
										+rateItem(2, 0)
										+rateItem(1, 0)
							+e.body 
								mixin reviewItem(stars=4, name, date, text, like)
									+e.review-item
										.row
											.col-md-auto
												+e.info-wrap
													+stars(stars)
													+e.name!= name
													+e.create-date!= date
											.col
												p!= text
											+e.like-col.col-auto
												if like > 0
													+e.like.active +#[!= like]
												else
													+e.like!= like
								+reviewItem(4, 'Егор', '8 декабря 2019 в 17:04', 'Здравствуйте! Хочу сказать большое спасибо компании &laquo;Русская Беседка&raquo;!! Очень довольна вашей работой. Начиная от&nbsp;общения с&nbsp;менеджером Дилей и&nbsp;заканчивая монтажниками. Все как положено, договор, смета, сроки. Учли все наши просьбы и&nbsp;изменили немного конструкцию. Беседка получилась очень красивая! Ребята монтажники из&nbsp;Смоленска Дмитрий Базененков и&nbsp;Виталий Александров настоящие профессионалы своего дела!! Очень качественно и&nbsp;быстро, работали почти без перерывов, учитывали каждую мелочь и&nbsp;все пожелания. Это очень приятно!! Всем рекомендую!!!', 2)
								+reviewItem(4, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор.', 0)
								+reviewItem(5, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор. И&nbsp;вот 20&nbsp;мая беседка построена, ребята такие молодцы, работали с&nbsp;7&nbsp;утра и&nbsp;до&nbsp;9&nbsp;вечера, очень аккуратно, все прибрали, чистота и&nbsp;порядок. И&nbsp;теперь у&nbsp;нас замечательная беседка. Расчет за&nbsp;которую, что очень важно, производится по&nbsp;факту ее&nbsp;установки и&nbsp;осмотра. Спасибо огромное. Рекомендую всем, кто мечтает о&nbsp;беседке, заказать ее&nbsp;в&nbsp;&laquo;Русской беседке&raquo;, не&nbsp;пожалеете. Ну&nbsp;а&nbsp;у&nbsp;нас новая задача&nbsp;&mdash; обустроить территорию вокруг и&nbsp;разместить мебель.', 0)
								+reviewItem(4, 'Егор', '8 декабря 2019 в 17:04', 'Здравствуйте! Хочу сказать большое спасибо компании &laquo;Русская Беседка&raquo;!! Очень довольна вашей работой. Начиная от&nbsp;общения с&nbsp;менеджером Дилей и&nbsp;заканчивая монтажниками. Все как положено, договор, смета, сроки. Учли все наши просьбы и&nbsp;изменили немного конструкцию. Беседка получилась очень красивая! Ребята монтажники из&nbsp;Смоленска Дмитрий Базененков и&nbsp;Виталий Александров настоящие профессионалы своего дела!! Очень качественно и&nbsp;быстро, работали почти без перерывов, учитывали каждую мелочь и&nbsp;все пожелания. Это очень приятно!! Всем рекомендую!!!', 2)
								+reviewItem(4, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор.', 0)
								+reviewItem(5, 'Анастасия', '8 декабря 2019 в 17:04', 'Идея построить беседку, как у&nbsp;многих наверное была давно.&nbsp;на&nbsp;протяжении 2х&nbsp;лет присматривалась к&nbsp;Вашему сайту. И&nbsp;решилась, оформили заказ на&nbsp;беседку Симфония, обговорили все условия, заключили договор. И&nbsp;вот 20&nbsp;мая беседка построена, ребята такие молодцы, работали с&nbsp;7&nbsp;утра и&nbsp;до&nbsp;9&nbsp;вечера, очень аккуратно, все прибрали, чистота и&nbsp;порядок. И&nbsp;теперь у&nbsp;нас замечательная беседка. Расчет за&nbsp;которую, что очень важно, производится по&nbsp;факту ее&nbsp;установки и&nbsp;осмотра. Спасибо огромное. Рекомендую всем, кто мечтает о&nbsp;беседке, заказать ее&nbsp;в&nbsp;&laquo;Русской беседке&raquo;, не&nbsp;пожалеете. Ну&nbsp;а&nbsp;у&nbsp;нас новая задача&nbsp;&mdash; обустроить территорию вокруг и&nbsp;разместить мебель.', 0)
							+b.show-more-btn--js.btn.btn-light(href='#') 
								.show-more Показать еще
								.hide Скрыть
								+icon('chevron-down')
					.tabs__content
						+b.faq
							+b.create-content
								.h6 Ваш вопрос будет первым!
								p У этого товара ещё нет вопросов. Будьте первым, кто задаст свой вопрос!
							+form-wrap.--js
								.row
									.col-12
										+input('Задайте свой вопрос', 'textarea')
									.col-md-auto.order-md-last
										p Введено символов #[span 0] / 1000
									.col-md-auto
										+e.btn.btn.btn-primary(type='button') Отправить
									.col-md.align-self-center
										+e.attention Вопрос будет опубликован после модерации.
							mixin faqItem(title, answerTitle, who='Егор, 8 декабря 2019 в 17:04', answerWho='Егор, менеджер по работе с общественностью, 8 декабря 2019 в 17:04')
								+e.item
									.h6!= title
									.preson!= who
									+e.answer
										p!= answerTitle
										span!= answerWho
							div
								+faqItem('Здравствуйте! Сколько будет стоить доставка товара до г. Зеленоград??', 'Добрый вечер, справа от фото отображается стоимость доставки. До вашего города доставка составит 150 ₽')
								+faqItem('Здравствуйте, скажите у этих качелей в комплекте есть москитная сетка?', 'Добрый день, Ольга! Нет, москитной сетки нет в комплекте')
								+faqItem('Добрый день! Какая максимальная нагрузка? Сколько будет стоить доставка товара до г. Зеленоград??', 'Добрый день, Кристина! Maксимальная нагрузка на сами качели (арт. 80548643) 80 кг на 1 посадочное место. Справа от фото отображается стоимость доставки. До вашего города доставка составит 150 ₽')
								+faqItem('Здравствуйте! Сколько будет стоить доставка товара до г. Зеленоград??', 'Добрый вечер, справа от фото отображается стоимость доставки. До вашего города доставка составит 150 ₽')
								+faqItem('Здравствуйте, скажите у этих качелей в комплекте есть москитная сетка?', 'Добрый день, Ольга! Нет, москитной сетки нет в комплекте')
								+faqItem('Добрый день! Какая максимальная нагрузка? Сколько будет стоить доставка товара до г. Зеленоград??', 'Добрый день, Кристина! Maксимальная нагрузка на сами качели (арт. 80548643) 80 кг на 1 посадочное место. Справа от фото отображается стоимость доставки. До вашего города доставка составит 150 ₽')
								+faqItem('Здравствуйте, скажите у этих качелей в комплекте есть москитная сетка?', 'Добрый день, Ольга! Нет, москитной сетки нет в комплекте')
								+faqItem('Добрый день! Какая максимальная нагрузка? Сколько будет стоить доставка товара до г. Зеленоград??', 'Добрый день, Кристина! Maксимальная нагрузка на сами качели (арт. 80548643) 80 кг на 1 посадочное место. Справа от фото отображается стоимость доставки. До вашего города доставка составит 150 ₽')
							+b.show-more-btn--js.btn.btn-light(href='#') 
								.show-more Показать еще
								.hide Скрыть
								+icon('chevron-down')
					.tabs__content
						+e.delivery-content
							p Доставка включает в&nbsp;себя доставку товаров по&nbsp;указанному адресу, с&nbsp;размещением транспортного средства максимально приближенным к&nbsp;месту выгрузки, только на&nbsp;дорогах общественного пользования пригодных для движения грузового транспорта (без заезда транспортного средства на&nbsp;территорию частного домовладения). Водитель обязан припарковаться так, чтобы обеспечить безопасную выгрузку товара из&nbsp;машины (необходимо обратить внимание на&nbsp;пешеходов, на&nbsp;припаркованные машины).
							p Доставка осуществляется в&nbsp;день согласованный при оформления заказа (дата зависит от&nbsp;наличия товара на&nbsp;складе или зависит от&nbsp;графика производства).
							p.mb-0 Доставка осуществляется одним из&nbsp;следующих способов:
							ul
								li -&nbsp;Службой доставки организации до&nbsp;Вашего загородного участка (при необходимости осуществляется разгрузка, занос и&nbsp;монтаж)
								li -&nbsp;Или самовывозом из&nbsp;партнерских пунктов выдачи или пунктов выдачи транспортных компаний.
							p Стоимость доставки рассчитывается при оформлении заказа на&nbsp;сайте или сотрудником компании &laquo;Русская Деревня&raquo;. Стоимость зависит от&nbsp;зоны доставки, дополнительных услуг, веса и&nbsp;объема товаров в&nbsp;заказе.
							+b.show-more-btn.btn.btn-light(href='#') 
								.show-more Посмотреть подробнее о доставке
								+icon('chevron-right')
					+e.slider.tabs__content
						mixin slide(span, h6, text)
							+e.slide.swiper-slide
								+e.slide-item
									span!= span
									.h6!= h6  
									p!= text
						+defSlider(true)
							+slide('Цена по запросу', 'Доставка и установка', 'Лестница выполнена из кедра. Такой вариант лестницы удобен<br/>и практичен, благодаря высоким перилам, широким ступеням и своей опоре.')
							+slide('Цена по запросу', 'Установка барбекю', 'Лестница выполнена из кедра. Такой вариант лестницы удобен<br/>и практичен, благодаря высоким перилам, широким ступеням и своей опоре.')
							+slide('Входит в стоимость', 'Установка на блочный фундамент', 'Установка производится из бетонных блоков 200×200×400 мм или 100×200×400 мм')
							+slide('Входит в стоимость', 'Гидроизоляция фундамента', 'Гидроизоляция производится из рубероида или аналогичных материалов')
							+slide('Входит в стоимость', 'Обработка нижней обвязки, лаг и пола', 'Обработка производится с помощью декоративной-деревозащитной пропиткой «Здоровый дом»')
							+slide('Входит в стоимость', 'Разработка 3D-модели', 'После заключения договора. Такой вариант лестницы удобен<br/>и практичен, благодаря высоким перилам, широким ступеням и своей опоре.')
							+slide('Входит в стоимость', 'Выгрузка и занос к месту установки', 'В пределах 15 м.<br/>Такой вариант лестницы удобен<br/>и практичен, благодаря высоким ')
							+slide('Входит в стоимость', 'Уборка мусора', 'Убираем строительные отходы после монтажа, аккуратно складывем в мешки. Вывоз мусора не предусмтрен')
							+slide('Входит в стоимость', 'Проживание бригады', 'Проживание строительной бригады во время строительства обеспечиается за счет компании')
					+e.slider.tabs__content
						mixin slide(img, h6)
							+e.slide.swiper-slide
								+e.card-item
									+e.img-wrap: .img-wrap-center: +img(`img/${img}`, 'bg')
									.content
										.h6!= h6  
										block
						mixin prodCard(img, price, title, text, active)
							+e.slide.swiper-slide
								+e.card-item
									+e.img-wrap: .img-wrap-center: +img(`img/${img}`, 'bg')
									.content
										.price.d-none.d-md-block!= price
										.title!= title
										p!=text
										+e.footer-row.row
											.col-auto.d-md-none
												.price!= price
											.col.col-md
												if active
													+e.btn.btn.btn-sm.btn-primary(href="#") В корзину
												else
													+e.btn.btn.btn-sm.btn-primary.disabled.btn-modal-js(href="#modal-add") В корзину
											.col-auto.d-none.d-md-block
												+addblock
						+defSlider(true)
							if secondVariant
								+prodCard('sProdCardInfo-img-6.png', '9 657 р', 'Приставная лестница для банного чана', 'Лестница выполнена из кедра. Такой вариант лестницы удобен<br/>и практичен, благодаря высоким перилам, широким ступеням и своей опоре.', true)
								+prodCard('sProdCardInfo-img-7.png', '10 368 р', 'Выносная печь для банного чана', 'Выносная цилиндрическая печь для банного чана предназначена для нагревания воды внутри чана.<br/>Вода прогревается путем циркуляции по контуру.')
								+prodCard('sProdCardInfo-img-8.png', '12 190 р', 'Система фильтрации воды', 'Чан, оборудованный системой фильтрации, позволяет вам реже менять воду в чане, особенно если вода, например содержит большое количество примесей.')
								+prodCard('sProdCardInfo-img-9.png', '4 925 р', 'Столик на штанге для банного чана', 'Просторный столик на подставке, на котором можно разместить напитки и еду на всю компанию.')
								+prodCard('sProdCardInfo-img-10.png', '7 460 р', 'Чехол брезентовый для банного чана', 'Брезентовый чехол плотно облегает чан тканью, защищает металл от коррозии и попадания пыли и мусора внутрь чана.')
								+prodCard('sProdCardInfo-img-9.png', '4 925 р', 'Столик на штанге для банного чана', 'Просторный столик на подставке, на котором можно разместить напитки и еду на всю компанию.')
								+prodCard('sProdCardInfo-img-10.png', '7 460 р', 'Чехол брезентовый для банного чана', 'Брезентовый чехол плотно облегает чан тканью, защищает металл от коррозии и попадания пыли и мусора внутрь чана.')
							else
								+slide('sProdCardInfo-img-1.png', 'Мягкие окна')
									ul
										li Изготавливаются по вашим размерам.
										li Мягкие окна — отличное решение для защиты беседки или веранды от ветра, влаги и пыли.
										li #[span Материал:] ПВХ пленка.
										li #[span Окантовка:] ПВХ ткань.
										li #[span Плотность полотна:] 750 мкр.
										li #[span Варианты креплений:]  Скоба - ремень и большая поворотная скоба.
								+slide('sProdCardInfo-img-2.png', 'Шторы для беседки')
									ul
										li Изготавливаются по вашим размерам.
										li #[span Материал:] ткань Оксфорд с полиуретановой пропиткой.
										li #[span Усиление:] армированная нить.
										li #[span Комплектуется:] Люверсы или петли на выбор, подхваты к столбам, Липучка для соединения.
										li #[span Крепления на выбор:] люверсы, стандартные петли, скрытые петли.
								+slide('sProdCardInfo-img-3.png', 'Мебель для беседки')
									ul
										li Эргономично выгнутая спинка, удобные подлокотники и мягкие подушки. Практичный материал под ротанг легко очищается влажной тканью с мыльным раствором. Универсальный дизайн мебели станет прекрасным дополнением любого интерьера.
										li #[span Материал:] полипропилен, полиэстер + поролон.
										li #[span Цвет:] Венге или Антрацит.
								+slide('sProdCardInfo-img-4.png', 'Печи барбекю')
									ul
										li Организовать отличную зону для культурного отдыха с возможностью приготовления вкусной и полезной пищи можно с помощью барбекю-комплекса.
										li #[span Барбекю-комплекс может состоять из:] гриль-мангала, печи под казан, духовки-коптильни, модуля под тандыр, русской печи, камина, шкафа с разделочным столом и мойкой, навесных шкафов и барной стойки.
								+slide('sProdCardInfo-img-5.png', 'Освещение в беседку')
									ul
										li Мы предлагаем множество вариантов осветительных приборов для беседок, которые помогут вам создать незвбыыаемую атмосферу в вечернее время.
										li Наши менеджеры могут вам предложить настенные, подвесные, напольные светильники, а так же герлянды и светильники на солнечных батарейках.
								+slide('sProdCardInfo-img-1.png', 'Освещение в беседку')
									ul
										li Мы предлагаем множество вариантов осветительных приборов для беседок, которые помогут вам создать незвбыыаемую атмосферу в вечернее время.
										li Наши менеджеры могут вам предложить настенные, подвесные, напольные светильники, а так же герлянды и светильники на солнечных батарейках.
								+slide('sProdCardInfo-img-2.png', 'Освещение в беседку')
									ul
										li Мы предлагаем множество вариантов осветительных приборов для беседок, которые помогут вам создать незвбыыаемую атмосферу в вечернее время.
										li Наши менеджеры могут вам предложить настенные, подвесные, напольные светильники, а так же герлянды и светильники на солнечных батарейках.
					.tabs__content
						.innerTabs
							.innerTabs__caption
								.innerTabs__btn.active Доставка
								.innerTabs__btn Самовывоз
							.innerTabs__content.active
								+b.receiptGoods
									+e.info Доставка включает в&nbsp;себя доставку товаров по&nbsp;указанному адресу, с&nbsp;размещением транспортного средства максимально приближенным к&nbsp;месту выгрузки, только на&nbsp;дорогах общественного пользования пригодных для движения грузового транспорта (без заезда транспортного средства на&nbsp;территорию частного домовладения). Водитель обязан припарковаться так, чтобы обеспечить безопасную выгрузку товара из&nbsp;машины (необходимо обратить внимание на&nbsp;пешеходов, на&nbsp;припаркованные машины). Доставка осуществляется в&nbsp;день согласованный при оформления заказа (дата зависит от&nbsp;наличия товара на&nbsp;складе или зависит от&nbsp;графика производства)
									+e.item
										+e.head
											.h6 География поставок
											span Москва
										+e.subCity Московская область
										ul
											li Андреевка
											li Балашиха
											li Белоозерский
											li Большие
											li Бронницы
											li Быково
											li Видное
											li Видное (Ленинский)
											li Власиха
											li Волоколамск
											li Воскресенск
											li Восход
											li Вяземы
											li Дедовск
											li Дзержинск
											li Дмитров
											li Долгопрудный
											li Домодедово
											li Дубна
											li Егорьевск
											li Жуковский
											li Запрудня
											li Зарайск
											li Звездный городок
											li Ивантеевка
											li Ильинский
											li Истра
											li Калининец
											li Кашира
											li Климовск
											li Клин
											li Коломна
											li Королев
											li Котельники
											li Красково
											li Красноармейск
											li Красногорск
											li Краснознаменск
											li Ликино-Дулево
											li Лобня
											li Лосино-Петровский
											li Лотошино
											li Луховицы
											li Лыткарино
											li Львовский
											li Люберцы
											li Малаховка
											li Михнево
											li Можайск
											li Молодежный
											li Монино
											li Москва
											li Мытищи
											li Наро-Фоминск
											li Нахабино
											li Некрасовский
											li Ногинск
											li Ногинск (Богородский)
											li Одинцово
											li Озеры
											li Октябрьский
											li Орехово-Зуева
											li Павловский Посад
											li Подольск
											li Правдинский
											li Протвино
											li Пушкино
											li Раменское
											li Реутов
											li Руза
											li Селятино
											li Сергиев Посад
											li Серебряные Пруды
											li Серпухов
											li Солнечногорск
											li Софрино
											li Ступино
											li Талдом
											li Томилино
											li Тучково
											li Удельная
											li Фрязино
											li Фряново
											li Химки
											li Черноголовка
											li Чехов
											li Шатура
											li Шаховская
											li Щелково
											li Электросталь
										.receiptGoods__show-more.show-more-btn--js
											.show-more Показать еще
											.hide Скрыть
											+icon('chevron-down')
									+e.list-wrap
										.h6 Доставка в соседние области обговаривается отдельно
										p Время работы службы доставки: ПН - ВС: с 09:00 до 21:00
										+e.list
											.h6 При заказе доставки до адреса просим Вас предоставить следующую информацию
											ul
												li Точный адрес&nbsp;&mdash; с&nbsp;указанием особенностей подъезда к&nbsp;дому (с&nbsp;какой улицы, пропуск, место для разгрузки, другие приметы).
												li Номер телефона (на адресе, контактный).
												li Лицо, ответственное за&nbsp;прием заказа, его координаты.
												li Въезда на&nbsp;территорию (в&nbsp;случае режимных объектов, требующих оформления специальных пропусков, пропуск должен быть оформлен клиентом заранее).
										+e.list
											.h6 Получение заказа
											ul
												li Перед приездом на&nbsp;адрес мы&nbsp;заранее предупредим вас.
												li Сотрудник службы доставки свяжется с&nbsp;вами, когда будет на&nbsp;месте.
												li При получении товаров рекомендуется их&nbsp;распаковать и&nbsp;сверить с&nbsp;заказом, а&nbsp;также убедиться, что товары и&nbsp;упаковка не&nbsp;повреждены. На&nbsp;проверку товаров у&nbsp;вас есть 30&nbsp;минут. Сотрудник службы доставки вскроет упаковку при вас.
												li После получения и&nbsp;проверки заказа внимательно ознакомьтесь с&nbsp;документами и&nbsp;подпишите&nbsp;их. После подписания акта приёма-передачи претензии по&nbsp;количеству и&nbsp;качеству полученного товара не&nbsp;принимаются.
									+e.price
										.h6 Стоимость доставки
										table
											thead 
												tr
													th Категории товара
													th Малые
													th Средние
													th Большие
											tbody
												mixin tr(cat, sm, md, lg)
													tr 
														td
															span Категории товара
															!= cat
														td
															span Малые
															!= sm
														td
															span Средние
															!= md
														td
															span Большие
															!= lg
												+tr('Дачные постройки и конструкции', '5 000', '10 000', '15 000')
												+tr('Садовая мебель и мебель для бани', '2 500', '5 000', '7 500')
												+tr('Качели и подвесные кресла', '2 500', '5 000', '7 500')
												+tr('Приготовление пищи на открытом огне', '2 500', '5 000', '7 500')
												+tr('Купели, фитобочки, сборные сауны, банный чан', '5 000', '10 000', '15 000')
												+tr('Все для бани и сауны', '500', '2 500', '5 000')
												+tr('Печи и камины', '2 500', '5 000', '7 500')
												+tr('Детские домики, детские комплексы и игрушки', '2 500', '5 000', '7 500')
												+tr('Бассейны', '2 500', '5 000', '7 500')
												+tr('Батуты', '2 500', '5 000', '7 500')
												+tr('Спорт, игры, развлечения', '2 500', '5 000', '7 500')
												+tr('Садовый декор, текстиль и ландшафтный дизайн', '500', '2 500', '5 000')
												+tr('Светильники, фонари и световые фигуры', '500', '2 500', '5 000')
												+tr('Полив, уход, емкости для воды', '500', '2 500', '5 000')
												+tr('Садовая техника', '500', '2 500', '5 000')
												+tr('Садовый Инвентарь', '500', '2 500', '5 000')
												+tr('Постройки и товары для животных и птиц', '2 500', '5 000', '7 500')
												+tr('Садовый Инвентарь', '500', '2 500', '5 000')
							.innerTabs__content
								+b.delivery
									+e.map-wrap
										+e.map
											#map
											script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
											script.
												var myMap;

												// Дождёмся загрузки API и готовности DOM.
												ymaps.ready(init);

												function init () {
													// Создание экземпляра карты и его привязка к контейнеру с
													// заданным id ("map").
													myMap = new ymaps.Map('map', {
															// При инициализации карты обязательно нужно указать
															// её центр и коэффициент масштабирования.
															center:[55.74600650606794,37.6086175819092], // Москва
															zoom:14
													}),
													myPlacemark = new ymaps.Placemark([55.74498979811124,37.589906491821296], {
															hintContent: 'Собственный значок метки',
															balloonContent: 'Это красивая метка'
													}, {
															// Опции.
															// Необходимо указать данный тип макета.
															iconLayout: 'default#image',
															// Своё изображение иконки метки.
															iconImageHref: 'img/map-pin.png',
															// Размеры метки.
															iconImageSize: [47, 73],
															// Смещение левого верхнего угла иконки относительно
															// её "ножки" (точки привязки).
															iconImageOffset: [-5, -38]
													});
													myMap.geoObjects
														.add(myPlacemark)
												}
										+e.map-content
											.h6 Наш склад
											+e.map-content-item
												span Адрес
												p м. Черкизовская, Щёлковское шоссе, 5с1
											+e.map-content-item
												span Режим работы
												p Пн - Пт  9:00 - 20:00<br>Сб - Вс 9:00 - 18:00
											+e.map-content-item
												span Телефон
												a(href="tel:84956468218") 8 (495) 646-82-18 

									+e.inner-content
										p Самовывоз со склада организации.
										p Склад расположен по адресу: г. Москва, Рябиновая ул, 37, стр. 1
									+e.inner-content
										p Телефон для справок (ежедневно с 09.00 до 21.00) — +7 (495) 021-74-74
										p График работы самовывоза: ежедневно с 09:00 до 21:00, включая праздничные и выходные дни.
										p Самовывоз, его дату и время необходимо предварительно согласовать с менеджером компании «Русская Деревня» при подтверждении заказа.
									+e.list
										.h6 Правила выдачи заказов
										ul
											li Получите подтверждение наличия вашего заказа на складе у менеджера компании.
											li До момента выдачи заказ должен быть 100% оплачен (оплатить можно по ссылке при оформлении заказа на сайте).
											li Обязательно назначьте дату самовывоза у менеджера компании.
											li Для въезда на территорию склада необходимо в заявке на самовывоз (продиктовать данные менеджеру) необходимо указать дату и время самовывоза, гос.номер, марку и модель автомобиля и ФИО лица, кто будет забирать заказ.
											li Подготовьте все необходимые документы.
											li Печать пропуска для въезда на территорию склада не требуется. При въезде необходимо предъявить на КПП СТС на автомобиль.
											li На территории действует ограничение скорости движения до 30 км/ч.
									+e.list
										.h6 Для получения товара физическому лицу при себе необходимо иметь
										ul
											li Кассовый чек распечатанный или онлайн.
											li Номер Заказа.
											li Если заказ получает доверенное лицо: доверенность в свободной форме и документ, удостоверяющий личность.
									+e.list
										.h6 Для получения товара юридическому лицу при себе необходимо иметь
										ul
											li Кассовый чек распечатанный или онлайн.
											li Номер Заказа.
											li Печать компании или доверенность на подписание накладных и документ, удостоверяющий личность, в случае отсутствия печати.
									+e.inner-content--2
										p Обращаем ваше внимание, что ожидание на складе выдачи вашего заказа не регламентируется. Мы осуществляем сборку вашего заказа только после вашего прибытия на склад.
										p Самовывоз возможен только при 100% предоплате заказа. Для получения товара необходимо оформить пропуск на склад и выбрать дату самовывоза через Личный кабинет.
	// end sProdCardInfo